.list-group-item .badge-danger {
    display: none;
    cursor: pointer;
}

.list-group-item:hover .badge-danger {
    display: block;
}

.list-group-item .badge-primary {
    display: block;
}

.list-group-item:hover .badge-primary {
    display: none;
}